* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

header nav ul {
	display: flex;
}

header nav li {
	margin-left: 20px;
}

header nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

section {
	padding: 50px;
}

section h2 {
	margin-bottom: 30px;
	font-size: 36px;
}

section ul {
	margin-bottom: 30px;
}

section ul li {
	margin-bottom: 10px;
}

section #portfolio {
	background-color: #f7f7f7;
}

.portfolio-imgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.portfolio-imgs img {
	width: 30%;
	margin-bottom: 20px;
}

section #contato form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	margin: 0 auto;
}

section #contato label {
	margin-bottom: 10px;
	font-size: 18px;
}

section #contato input[type="text"],
section #contato input[type="email"],
section #contato input[type="tel"],
section #contato textarea {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 18px;
}

section #contato input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 18px;
	cursor: pointer;
}

section #contato input[type="submit"]:hover {
	background-color: #444;
}
